@charset "utf-8";
/*********************************
Jacob Whitney
Official Portfolio Website
12 Sept 2016
 ********************************/
/*****************
Template {
	/***Size***/
	/***Position***/
	/***Attributes***/
	/***Font***/
/*}
Fonts {
	font-family: 'Patua One', cursive;
	font-family: 'Rubik', sans-serif;
	font-family: 'Lato', sans-serif;
}
*******************/

	/************Mobile***************/
.tabDesk {
	display:none;
}
html, body {
	/***Size***/
	margin:0;
	padding:0;
}
body {
	/***Attributes***/
	background-image:url("images/bg_img.jpg");
	background-repeat:repeat;
	background-size:100%;
}
#wrapper {
	/***size***/
	max-width:1000px;
	/***Position***/
	margin:25px 0px 0px 0px;
	padding:0;
	/*Attributes*/
	background-color:#21262b;
}
h1 {
	/***Size***/
	/***Position***/
	/***Attributes***/
	/***Font***/
	font-family: 'Patua One', cursive;
	font-size:30pt;
	color:white;
}
h2 {
	/***Size***/
	/***Position***/
	/***Attributes***/
	/***Font***/
	font-family: 'Patua One', cursive;
	font-size:24pt;
	color:white;
}
h3 {
	/***Size***/
	/***Position***/
	/***Attributes***/
	/***Font***/
	font-family: 'Rubik', sans-serif;
	font-size: 18pt;
	color:white;
	text-decoration:underline;
}
h4 {
	/***Size***/
	/***Position***/
	/***Attributes***/
	/***Font***/
}
h5 {
	/***Size***/
	/***Position***/
	margin-bottom:0;
	padding:0;
	/***Attributes***/
	/***Font***/
	font-family: 'Lato', sans-serif;
	font-size: 16pt;
	font-weight:bold;
	line-height:1px;
	color:white;
}
p {
	/***Size***/
	/***Position***/
	/***Attributes***/
	/***Font***/
	font-family: 'Lato', sans-serif;
	color:white;
}
li {
	color:white;
	font-family: 'Lato', sans-serif;
}
form {
	color:white;
	font-family:'Lato', sans-serif;
	line-height:25px;
}
header {
	/***size***/
	min-height:50px;
	padding-top:20px;
	padding-bottom:5px;
}
header img {
	display:block;
	/***Size***/
	width:175px;
	/***Position***/
	margin-left:auto;
	margin-top:0px;
	margin-right:auto;
	margin-bottom:0;
}
hr {
	/***size***/
	width:100%;
	height:0px;
	/***position***/
	display:block;
	margin:0;
	padding:0;
	/***attributes***/
	border:none;
	border-top:5px solid white;
}
nav img {
	display:block;
	/***Size***/
	width:35px;
	/***Position***/
	padding:5px;
	margin-left:auto;
	margin-top:10px;
	margin-right:5%;
	border-radius:10%;
	cursor:pointer;
}
nav img:hover {
	background-color:#D3B90E;
}
#mobileMenu {
	width:200px;
	position:absolute;
	right:0px;
	z-index:1;
	display:none;
	margin-top:5px;
	margin-right:15px;
	padding:0;
}
#mobileMenu ul {
	margin:0;
	padding:0;
}
#mobileMenu li {
	display:block;
	margin:0;
	padding:0;
	background-color:#333333;
	border-top:1px solid #808080;
}
#mobileMenu li:hover {
	background-color:#D3B90E;
}
#mobileMenu a {
	/***position***/
	display:block;
	margin:0;
	padding:5px 20px 5px 5px;
	/***font***/
	font-size:18px;
	font-family: 'Rubik', sans-serif;
	text-decoration:none;
	color:white;
	text-align:right;
}
.close {
	padding:0px 5px;
	margin-left:180px;
	cursor:pointer;
    color:white;
	background-color:#333333;
	border-radius:50%;
}
.close:hover {
	background-color:#6b1414;
}
section {
	/***size***/
	width:80%;
	/***position***/
	padding:0;
	margin-top:20px;
	margin-left:auto;
	margin-bottom:100px;
	margin-right:auto;
	/***attributes***/
	/***font***/
}
section img {
	/***size***/
	/***position***/
	margin-bottom:0;
	/***attributes***/
	border-radius:10px;
	/***font***/
}
section div {
	margin:0;
	padding:0;
}
section h1 {
	margin-top:30px;	
}
#home img {
	width:100%;
}
#about img {
	width:150px;
}
#contact {
	width:80%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
#contact div {
	display:inline-block;
}
#contForm {
	background-color:#D3B90E;
	color:white;
	border:none;
	border-radius:8%;
	font-family: 'Patua One', cursive;
	font-size:18px;
}
.sideNote {
	width:80%;
	margin-left:10%;
	margin-right:auto;
	font-size:18px;
}
article {
	width:100%;
	display:block;
	margin-bottom:70px;
	padding:0;
}
article hr {
	width:80%;
	display:block;
	margin-left:auto;
	margin-bottom:10px;
	margin-right:auto;
	border:none;
	border-top:3px solid white;
}
article div, ul, li, a {
	/*margin:0;
	padding:0;*/
}
.medIcon {
	width:200px;
	display:block;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	padding:0;
}
.medIcon img {
	width:80px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	padding:0;
}
.medIcon h2 {
	margin:0;
	padding:0;
}
.medIcon h2:hover {
	text-decoration:underline;
}
.medIcon a {
	display:block;
	margin:0;
	padding:0;
	text-align:center;
	text-decoration:none;
	color:white;
}
footer {
	/***size***/
	width:100%;
	/***position***/
	margin:0;
	padding-top:1px;
	padding-bottom:5px;
	/***attributes***/
	background-color:#0d0d0d;
}
footer div {
	/***Size***/
	width:80%;
	/***Position***/
	display:block;
	padding:0;
	margin-top:0px;
	margin-left:10%;
	margin-bottom:10px;
	margin-right:auto;
	/***Attributes***/
	/***Font***/
}
footer img {
	/***size***/
	/***position***/
	display:block;
	/***attributes***/
	border-radius:50%;
	/***font***/
}
#footerNav {
	/***Size***/
	/***Position***/
	/***Attributes***/
	/***Font***/
	font-size:10pt;
	font-family: 'Rubik', sans-serif;
}
footer ul {
	/***Size***/
	/***Position***/
	text-align:center;
	padding:0;
	margin:0;
	/***Attributes***/
	/***Font***/
}
footer li {
	/***Size***/
	/***Position***/
	display:inline-block;
	padding:0;
	margin:5px 2% 5px 2%; 
	/***Attributes***/
	/***Font***/
}
footer a {
	/***Size***/
	/***Position***/
	display:block;
	/***Attributes***/
	text-decoration:none;
	color:white;
	/***Font***/
}
#footerCont {
	/***Size***/
	/***Position***/
	margin-top:30px;
	/***Attributes***/
	/***Font***/
}
#footerCont img {
	/***size***/
	width:75px;
	/***position***/
	margin-left:auto;
	margin-right:auto;
	/***attributes***/
	border:3px solid white;
	/***font***/
}
#footerCont a {
	/***Size***/
	width:100px;
	/***Position***/
	padding:1px 2px 1px 2px;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	/***Attributes***/
	background-color:#D3B90E;
	/***Font***/
	text-align:center;
	font-family: 'Patua One', cursive;
	font-size:14pt;
	border-radius:8%;
}
footer p {
	/***Size***/
	/***Position***/
	/***Attributes***/
	color:white;
	margin:0;
	padding:0;
	/***Font***/
	font-family: 'Patua One', cursive;
	font-size:12pt;
}
#footerSoc {
	/***Size***/
	/***Position***/
	margin-top:30px;
	/***Attributes***/
	/***Font***/
}
#footerSoc img {
	/***Size***/
	width:40px;
	/***Position***/
	padding:0;
	margin:0;
	/***Attributes***/
	/***Font***/
}
footer table {
	/***size***/
	/***position***/
	margin-left:auto;
	margin-right:auto;
	/***attributes***/
	/***font***/
}
footer tr {
	/***size***/
	/***position***/
	/***attributes***/
	/***font***/
}
footer td {
	/***size***/
	/***position***/
	margin:0;
	padding:3px;
	/***attributes***/
	/***font***/
}


/*end mobile*/

@media only screen and (min-width: 500px) {
	/************Tablet***************/
.mobile {
	display:none;
}
.tabDesk {
	display:block;
}
#wrapper {
	width:90%;
	/***Position***/
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	padding:1px;
}
header {
	padding-bottom:10px;
}
header img {
	/***Size***/
	width:225px;
	/***Position***/
	margin-left:auto;
	margin-right:auto;
}
nav {
	/***position***/
	margin-top:0px;
}
nav ul {
	margin-right:3%;
	text-align:right;
}
nav li {
	/***position***/
	display:inline-block;
	margin-top:0px;
	margin-left:1%;
	margin-right:1%;
}
nav a {
	/***position***/
	display:block;
	padding:5px 10px 5px 10px;
	/***font***/
	font-size:18px;
	font-family: 'Rubik', sans-serif;
	text-decoration:none;
	color:white;
	border-radius:8%;
}
nav a:hover {
	background-color:#D3B90E;
}
.nav02 {
	display:block;
	margin-left:5%;
}
.nav02 ul {
	
}
.nav02 li {
	display:inline-block;
	margin-left:5px;
}
.nav02 a {
	display:block;
	padding:5px 10px 5px 10px;
	background-color:#434d56;
	font-size:18px;
	font-family: 'Lato', sans-serif;
	color:white;
	text-decoration:none;
}
.nav02 a:hover {
	background-color:#2c333a;
}
section {
	margin-top:30px;
}
section img {
	border-radius:20px;
}
#contact {
	margin-left:20%;
}
article {
	width:80%;
	padding:0;
	margin-left:auto;
	margin-right:auto;
}
article hr {
	width:100%;
}
.medIcon {
	display:inline-block;
	margin-left:3%;
	margin-right:2%;
}
footer {
	padding-bottom:20px;
}
footer div {
	/***Size***/
	width:30%;
	/***Position***/
	display:inline-block;
	margin-left:2%;
	padding:0;
	/***Attributes***/
	/***Font***/
}
footer ul {
	/***Size***/
	/***Position***/
	text-align:left;
	padding:0;
	margin-left:40%;
	vertical-align:middle;
	/***Attributes***/
	/***Font***/
	font-size:12pt;
}
footer li {
	/***Size***/
	/***Position***/
	display:block;
	/***Attributes***/
	/***Font***/
}
#footerSoc {
	/***Size***/
	/***Position***/
	vertical-align:bottom;
	/***Attributes***/
	/***Font***/
}
#footerSoc img {
	/***Size***/
	/***Position***/
	padding:0;
	margin:0;
	/***Attributes***/
	/***Font***/
}
footer table {
	/***size***/
	/***position***/
	margin-right:40%;
	/***attributes***/
	/***font***/
}
footer tr {
	/***size***/
	/***position***/
	/***attributes***/
	/***font***/
}
} /*end tablet*/

@media only screen and (min-width: 800px) {
	/************Desktop*************/
header img {
	
}
#contact {
	margin-left:10%;
}
footer div {
	/***Size***/
	/***Position***/
	/***Attributes***/
	/***Font***/
}
footer ul {
	/***Size***/
	/***Position***/
	margin-left:50%;
	/***Attributes***/
	/***Font***/
}
#footerSoc img {
	/***Size***/
	width:45px;
	/***Position***/
	padding:0;
	margin:0;
	/***Attributes***/
	/***Font***/
}
footer table {
	/***size***/
	/***position***/
	float:right;
	margin-right:50%;
	/***attributes***/
	/***font***/
}
footer tr {
	/***size***/
	/***position***/
	/***attributes***/
	/***font***/
}
} /*end desktop*/